* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

input{
  margin-bottom: 15px;
}

input:focus {
  border: 3px solid red;
}

h1 {
  font-size: 2em;
}

label {
  display: flex;
}

label > input {
  flex: 1;
}
