.userCard {
  display: flex;
  max-width: 540px;
  margin: 10px;
  
  background-color: white;
  font-family: sans-serif;
}
.imageWrapper {
  width: 40%;
  display: flex;

  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.userImage {
  width: 100%;
  height: inherit;

  object-fit: cover;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 50px;
}
.userCredentials {
}
.userName {
  line-height: 1.5;

  font-weight: 600;
  font-size: 2rem;
}
.userLink {
  opacity: 0.5;
}
.link {
  text-decoration: none;
  color: inherit;
}
.userStatContainer {
  display: flex;
  margin: 0 -15px;
}
.userStatItem {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) and (orientation: portrait) {
  .userCard {
    flex-direction: column;
    max-width: 300px;
  }
  .imageWrapper {
    width: unset;
    clip-path: unset;
    height: 200px;
  }
  .userInfo {
    padding: 1rem;
  }
  .userCredentials {
    margin-bottom: 2rem;
  }
}
